  <!-- Section: Details -->
  <section class="section section-details grey lighten-4" ng-controller="detailscontroller">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col s12 m6">
                  <span class="card-title">Post Details</span>
                </div>
                <div class="col s12 m6 center">
                  <img ng-src="{{image}}" alt="" class="responsive-img circle" style="width: 40px;margin-left:10px;">
                  <p>Posted By Lorem Ipsum</p>
                  <p>On Jan, 12, 2017</p>
                </div>
              </div>

              <form>
                <div class="input-field">
                  <input type="text" id="title" name="title" ng-model="title">
                  <label for="title">Title</label>
                </div>
                <div class="input-field">
                  <select name="option">
                    <option value="" disabled>Select option</option>
                    <option value="{{option.value}}" ng-repeat="option in options">{{option.description}}</option>
                  </select>
                  <label>Category</label>
                </div>
                <div class="input-field">
                  <textarea name="body" id="body" class="materialize-textarea" ng-model="postdescription">
                  </textarea>
                </div>
                <div class="card-action">
                  <button class="btn green" type="submit">Save</button>
                  <button class="btn red">Delete</button>
                </div>
                </div>
              </form>

            </div>
            
        </div>
      </div>
    </div>
  </section>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

  <script>
    // Hide Sections
    $('.section').hide();

    setTimeout(function () {
      $(document).ready(function () {
        // Show sections
        $('.section').fadeIn();

        // Hide preloader
        $('.loader').fadeOut();

        //Init Side nav
        $('.button-collapse').sideNav();

        // Init Modal
        $('.modal').modal();

        // Init Select
        $('select').material_select();

        CKEDITOR.replace('body');

      });
    }, 1000);
  </script>
</body>

</html>